/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

button {
	cursor: pointer;
}

:root {
	--primary-text: #6c6c6c;
	--secondary-text: #133416;

	--primary-col: #133416;
	--secondary-col: #f7b300;
	--bg-col: #f2ece4;

	--black: #111;
	--white: #eee;

	--border-radius: 4px;
}

body {
	font-family: 'Inter', sans-serif;
	font-family: 'Roboto', sans-serif;

	background-color: var(--bg-col);
	color: var(--primary-text);
}

body:has(nav .links-container[aria-expanded='true']) {
	overflow: hidden;
}

ul {
	list-style: none;
}

a {
	display: block;

	text-decoration: none;
	padding: 0.5rem;
	color: inherit;
}

header {
	padding-block: 2.5rem;
}

.container {
	max-width: 1200px;

	margin-inline: auto;
	padding-inline: 2rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	isolation: isolate;
}

.logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo:hover,
.logo:focus-visible {
	transform: initial;
}

.logo h1 {
	font-size: 1.8rem;
}

nav .backdrop {
	display: none;
}

nav .links-container {
	display: flex;
	align-items: center;
	flex: 1;
}

nav ul:first-child {
	/* Center the middle links on desktop */
	margin-inline: auto;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
}

nav a {
	font-size: 1.1rem;
	font-weight: 500;

	transition: all 250ms;
}

nav a:hover,
nav a:focus-visible {
	color: var(--secondary-text) !important;
}

nav a:hover,
nav a:focus-visible {
	transform: translateY(-5px);
}

.cta-btn {
	background-color: var(--primary-col);
	color: var(--white);

	padding: 1rem 2rem;

	border-radius: var(--border-radius);
}

.cta-btn:hover,
.cta-btn:focus-visible {
	background-color: var(--secondary-col);
	color: var(--primary-text);
	transform: initial;
}

.burger {
	display: none;
}

@media screen and (max-width: 950px) {
	nav .backdrop {
		position: absolute;
		inset: 0;

		backdrop-filter: blur(2px) brightness(50%);
	}

	nav .links-container {
		position: absolute;
		inset-block: 0;
		right: 0;

		width: 400px;
		max-width: 100dvw;

		flex-direction: column;
		justify-content: space-between;

		/* top inline bottom */
		padding: 6rem 4rem 4rem;

		background-color: var(--bg-col);
		box-shadow: -2px 0px 1em rgb(0, 0, 0, 0.2);

		z-index: 2;
		transform: translateX(100%);

		transition: transform 250ms;
	}

	nav .links-container[aria-expanded='true'] {
		transform: translateX(0);
	}

	nav .backdrop:has(~ .links-container[aria-expanded='true']) {
		display: block;
	}

	nav .links-container .burger {
		position: absolute;
		right: 2rem;
		top: 2.5rem;

		display: grid;
		place-items: center;
	}

	nav ul:first-child {
		margin-inline: initial;
	}

	nav ul {
		flex-direction: column;
	}

	.burger {
		display: block;

		border: 0;
		color: inherit;
		background-color: transparent;

		padding: 0.5rem;

		z-index: 2;
	}

	.burger:hover,
	.burger:focus-visible {
		color: var(--secondary-text);
	}
}
